{
  "extends": "../../app/.eslintrc",
  "env": {
    "jasmine": true
  },
  "parserOptions": {
    "ecmaVersion": 2015
  },
  "globals": {
    "inject": true,
    "module": true
  },
  "rules": {
  }
}
